/* general styles */
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #2196f3;
  --primary-bgd-color: #fff;
  --grey-color: #757575;
}

body {
  font-family: roboto, sans-serif;
  background-color: var(--primary-bgd-colorprimary-bgd-color);
  color: var(--primary-text-color);
}

.list {
  list-style-type: none;
}
/* header styles */
.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.logo-sec-color {
  color: var(--primary-text-color);
}
.nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: var(--primary-text-color);
}
.nav-link-contacts {
  color: var(--grey-color)
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav-link-contacts:hover,
.nav-link-contacts:focus,
.nav-link:hover,
.nav-link:focus,
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--secondary-text-color);
}
.hidden-title {
  display: none;
}

/* hero decoration */
.hero-title {
  color: #fff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2f303a;
  text-transform: uppercase;
}
.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

/* advantage styles */
.advantage-head {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.advantage-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--grey-color);
}
/* workfolw styles */

.workflow-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}
.team-position {
  font-size: 16px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color:var(--grey-color);
}
/* footer styles */
.footer {
  background: #2f303a;
}
.footer-title,
.footer-title-part {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  text-decoration: none;
}
.footer-title-part {
  color: #fff;
}
.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  font-style: normal;
}
.footer-contacts {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
/* portfolio styles */
.portfolio-title {
  color: var(--primary-white-color);
  display: none;
}
.portfolio-btn {
  background-color: var(--lightgray-bg-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
}
.portfolio-btn:focus,
.portfolio-btn:hover {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
.portfolio-list-link{
  text-decoration: none;
}
.portfolio-list-title {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-list-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color:var(--grey-color);
}
